* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62, 5%;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  font: size 1.2rem;
}

p {
  margin: 1rem 0;
}

h1, h2, h3, h5, h6 {
  margin: 1rem 0 2rem 0;
}

ul {
  list-style: none;
}

a {
  color: var(--text);
  text-decoration: none;
}

img {
  max-width: 100%;
}

.title-small {
  letter-spacing: 0.5rem;
  font-size: 1.7rem;
}

.text-primary {
  color: var(--primary);
}
.text-hint {
  color: var(--hint);
}

.mb-5 {
  margin-bottom: 5rem;
}

.mx-1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

@keyframes bounce {
  0% {
    transform: rotate -45deg;
  }
  10% {
    transform: rotate -35deg;
  }
  70% {
    transform: rotate 20deg;
  }
  80% {
    transform: rotate -10deg;
  }
  90% {
    transform: rotate 5deg;
  }
  100% {
    transform: rotate 0deg;
  }
}
.grid-container {
  display: grid;
  grid: "picture header" auto "aside main" 1fr "footer footer" auto/350px auto;
  min-height: 100vh;
}

header {
  grid-area: header;
  background: linear-gradient(to right, var(--primary), var(--light));
  padding: 8rem 5rem;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-size: 6rem;
  line-height: 8rem;
  font-weight: 300;
  letter-spacing: 3rem;
}
header p {
  letter-spacing: 0.5rem;
}
header span {
  display: inline-block;
  animation: bounce 2s;
}
header .picture {
  grid-area: picture;
  background: var(--background);
}
header .picture img {
  padding: 6rem;
  border-radius: 50%;
}

aside {
  min-height: 1500px;
  grid-area: aside;
  background: var(--background);
  border-right: 1px solid #ddd;
  padding: 4rem;
}
aside .block {
  margin-bottom: 5rem;
}
aside h3 {
  margin-bottom: 0;
  font-size: 1.4rem;
}
aside p {
  margin: 0 0 2rem 0;
  font-style: italic;
}
aside .bar-skill {
  margin: 2rem 0;
  height: 5px;
  background: var(--hint);
  position: relative;
}
aside .bar-skill .bar-skill-progress {
  position: absolute;
  height: 5px;
  top: 0;
  left: 0;
  width: 80%;
  background: var(--light);
}
aside .bar-skill .bar-skill-dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background: var(--dark);
  left: calc(80% - 5px);
  top: -2.5px;
  transform: rotate(45deg);
}
aside .star-container {
  display: flex;
  margin: 2rem 0 3rem 0;
  color: var(--hint);
}
aside .star-container i {
  font-size: 2rem;
  margin: 0 1rem;
}
aside .social-container {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 2rem 1rem;
  border-radius: 5px;
  transition: all 2s;
}
aside .social-container:hover {
  background: var(--border);
}
aside .social-container:hover i {
  color: var(--primary);
  transform: scale(1.3);
  transition: all 0.3s;
}
aside .social-container i {
  font-size: 2rem;
  flex: 0 0 50px;
  margin-right: 1rem;
}
aside .social-container p {
  flex: auto;
}

main {
  grid-area: main;
  padding: 5rem;
}
main h2 {
  margin-bottom: 4rem;
}
main p {
  letter-spacing: 0.1rem;
  line-height: 3rem;
  margin: 0;
}
main .experience {
  display: flex;
  margin: 6rem 0;
}
main .experience .timeline {
  text-align: center;
  color: var(--hint);
  padding-right: 2rem;
  border-right: 1 px solid var(--border);
}
main .experience .content {
  padding: 0 1rem;
  margin: 0;
  border-left: 1px solid var(--border);
}
main .experience .content h3 {
  margin: 0;
}
main .experience .content p {
  margin: 0;
}
main .experience .content ul {
  list-style: circle;
  margin: 2rem 0;
  padding: 4rem;
}

footer {
  grid-area: footer;
  padding: 5rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #ddd;
  background: var(--text);
}
footer h2 {
  margin-bottom: 3rem;
}
footer form {
  display: flex;
  align-items: center;
}
footer form .prefix, footer form .postfix {
  background: linear-gradient(to right, var(--dark), var(--light));
  padding: 1rem 2rem;
  color: white;
  font-size: 2rem;
}
footer form .prefix {
  border-top-left-radius: 20%;
  border-bottom-left-radius: 20%;
}
footer form button {
  background: var(--text);
  border: 0;
  cursor: pointer;
  transition: all 0.2s;
}
footer form button:hover {
  opacity: 0.8;
}
footer form button .postfix {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
footer form input {
  outline: 0;
  min-width: 400px;
  padding: 1rem 2rem;
  border: 0;
  line-height: 2rem;
}
footer form input::placeholder {
  color: var(--text);
}

/*# sourceMappingURL=style.css.map */
